

/*
     FILE ARCHIVED ON 02:10:44 Apr 01, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:13:41 Jan 29, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.073
  exclusion.robots.policy: 0.062
  cdx.remote: 0.096
  esindex: 0.009
  LoadShardBlock: 169.741 (6)
  PetaboxLoader3.datanode: 125.632 (7)
  load_resource: 72.058
  PetaboxLoader3.resolve: 37.997
*/